@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');
* {
	box-sizing: border-box;
}
body {
	max-width: 770px;
	margin: auto;
	height: 100vh;
	display: grid;
	align-items: center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.piano-body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 40px;
	background-color: #1c252c;
	border-radius: 15px;
	padding: 25px;
}

.section-one {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

.section-one .volume {
	display: flex;
	justify-content: space-around;
}

.section-one .btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section-one .btn input {
	width: 60px;
	height: 30px;
	cursor: pointer;
	appearance: none;
	background-color: #f2f2ef;
	border-radius: 15px;
	position: relative;
}

.section-one .btn input::before {
	content: '';
	width: 20px;
	height: 20px;
	background-color: black;
	position: absolute;
	border-radius: 15px;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	transition: all 0.3s ease;
}

.section-one .btn input:checked::before {
	left: calc(100% - 25px);
	background-color: green;
}

.section-one > * {
	color: #f2f2ef;
}

.section-two {
	display: grid;
	grid-template-columns: repeat(17, 1fr);
}

.section-two .key {
	display: grid;
	justify-content: center;
	align-items: end;
	padding-bottom: 20px;
	cursor: pointer;
}

.section-two .key.hide span {
	display: none;
}

.section-two .key.white {
	background: linear-gradient(white 95%, gray);
	width: 70px;
	height: 210px;
	border-radius: 10px;
	margin-right: 2px;
}

/* .section-two .key.white:active {
	box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
} */
.section-two .key.white.active {
	box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.section-two .key.black {
	background-color: black;
	height: 120px;
	z-index: 2;
	color: white;
	margin: 0 -22px 0 -22px;
	border-radius: 0 0 10px 10px;
}

/* .section-two .key.black:active {
	box-shadow: inset -5px 5px 10px rgba(250, 250, 250, 0.1);
	background: linear-gradient(to bottom, #000, #434343);
} */
.section-two .key.black.active {
	box-shadow: inset -5px 5px 10px rgba(250, 250, 250, 0.1);
	background: linear-gradient(to bottom, #000, #434343);
}
